# dependencies
/Node/Frontend/node_modules
/Django/venv
/.pnp
.pnp.js

# media
/Django/media

# testing
/coverage

# production
/build
/Node/Frontend/static

# system-specific project files
/Django/api/__pycache__/
/Django/api/management/
/Django/api/migrations/
/Node/Frontend/__pycache__/
/Node/Frontend/migrations/
/Django/MemeCataloger2/__pycache__/
/Django/Sockets/__pycache__/
/Django/Sockets/migrations/
*.pyc

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/Frontend/static/Frontend/
/media/images/
/python312/
/venv/
.idea/*
