# dependencies
/Frontend/node_modules/
/.pnp
.pnp.js

# media
/media

# production
/Frontend/static/

# system-specific project files
/api/__pycache__/
/Frontend/__pycache__/
/MemeCataloger2/__pycache__/
*.pyc

# secrets
db-pw.txt
django-db-pw.txt
node-sudo-pw.txt

# misc
npm-debug.log*
/python312/
/venv/
.idea/

# Do these exist on this project?
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
