# dependencies
/Frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# system-specific project files
/api/__pycache__/
/api/management/
/api/migrations/
/Frontend/__pycache__/
/Frontend/migrations/
/MemeCataloger2/__pycache__/
/Sockets/__pycache__/
/Sockets/migrations/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/media/images/
/python312/
/venv/
.idea/*
